:root {
  --line-width: 80ch;
}

body {
  width: 100vw;
  margin: 0 0 20px 0;
}

main {
  margin: 36px 16px 0 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  border-top: 2px solid black;
  padding-top: 16px;
}

p, h1, h4 {
  font-family: 'Charter', Palatino, serif;
  font-kerning: normal;
}

h1 {
  font-variant: small-caps;
  letter-spacing: 2px;
}

h4 {
  font-style: italic;
  font-size: 16px;
  font-weight: 200;
}

h4:before {
  font-style: normal;
  content: "~ ";
}

h5 {
  text-align: center;
  letter-spacing:-0.2em;
  margin: 50px 0;
  font-weight: 200;
  font-size: 25px;
}

p, pre {
  line-height: 1.3em;
}

p {
  font-size: 18px;
  text-align: justify;
  hyphens: auto; 
  -webkit-hyphens: auto; 
}

p:first-of-type {
  margin-top: 40px;
}

pre {
  font-size: 16px;
  padding-left: 1ch;
  border-left: solid 1px lightgrey;
  margin: 30px auto;
  white-space: pre-wrap;
  word-spacing: -2px;
  overflow-x: scroll;
}

pre.poem {
  border-left: none;
  padding-left: none;
  font-family: 'Charter', Palatino, serif;
  font-kerning: normal;
}

a {
  text-decoration: none;
  color: black;
}

p a {
  text-decoration: underline dotted;
  -webkit-text-decoration: underline dotted;
}

a:hover {
  background-color: lightgrey;
}

figure {
  margin: 20px 0;
  padding: 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

figure > img {
  width: var(--line-width);
  max-width: 100%;
  margin-bottom: 10px;
}

figcaption {
  font-size: 15px;
  margin-top: 15px;
  font-style: italic;
}

footer {
  font-family: 'Charter', Palatino, serif;
  text-align: center;
  border-top: solid 1px lightgrey;
  padding-top: 25px;
}

footer > * {
  display: flex;
  margin: 0 10px;
}

footer > a {
  padding: 10px 15px;
}

.nav, .contact {
  justify-content: space-around;
  margin-bottom: 5px;
}

.nav {
  font-size: 30px;
  margin-bottom: 10px;
  align-items: center;
}

.nav * {
  padding: 10px;
}

.nav .disabled {
  color: lightgrey;
}

.contact a {
  padding: 20px;
  font-size: 30px;
}

.article-list {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  padding: 20px;
}

.article-list a {
  padding: 10px 0;
}

.article {
  width: 100%;
  max-width: var(--line-width);
}

blockquote .author {
  text-align: right;
}

blockquote {
  margin: 20px 0 20px 0;
  padding-left: 40px;
}

.author:before {
  content: "~ ";
}

li > p {
  margin-top: 0;
}

li > p:first-of-type {
  margin-top: 0;
}
